<!--This page will display the available times.
    Ignore the time slots on the
SignUpGenius page.
    For our purposes, we will say the tours occur every hour on the
hour from 8:00 am – 8:00 pm (i.e. the last tour starts at 8:00 pm.)
    Once the user selects a
time, they are routed to a form that has the date info set,
    but allows the user to enter their
info.-->

@model AvailableTasksViewModel


@{
    ViewData["Title"] = "Sign Up";
}

<!--<div class="col-10">-->

    <!--TABLE-->
    <table class="table table-striped table-hover">
       
     
        <thead>
            <tr>
                <!--TABLE HEADERS-->
                <th class="font-weight-bold">Session Date</th>
                <th class="font-weight-bold">Session Time</th>
                <th class="font-weight-bold">Reserve</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var i in Model.AreAvailable)
            {
            <tr>
                <td>@i.AvailableTime.ToString("dddd, dd MMMM yyyy")</td>
                <td>@i.AvailableTime.ToString("h:mm tt")</td>
                <td>
                    <form id="@i.TimeId" asp-page="/EnterInfo" method="post">
                        <input type="hidden" asp-for="@i.TimeId" />
                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <span class="card-text p-1">
                            <button type="submit" class="btn-success btn-sm pull-right" style="float:right">
                                Reserve
                            </button>
                         </span>
                    </form>
                </td>
            </tr>

            }

        </tbody>




        <!--INSERT DATA INTO TABLE THROUGH LOOP-->
        @*@foreach (var i in Model.x)
                        {
                        //Connect to the partial view to display
                        <partial name="SignUpSummary" model="i" />
                        }*@

</table>

<!--</div>-->
